/* color pallete: https://colorhunt.co/palette/363062435585818fb4f5e8c7 */
/* <a href="https://www.flaticon.com/free-icons/sustainability" title="sustainability icons">Sustainability icons created by Freepik - Flaticon</a> */
/* <a href="https://www.flaticon.com/free-icons/sustainability" title="sustainability icons">Sustainability icons created by Freepik - Flaticon</a> */
/* <a target="_blank" href="https://icons8.com/icon/XGv3oOimibXn/shopee">Shopee</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
/* <a target="_blank" href="https://icons8.com/icon/QxTCUohbBw9U/tokopedia">Tokopedia</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
:root {
    --bs-tertiary-bg-rgb: rgb(67, 85, 133);
    --bs-emphasis-color-rgb: rgb(129, 143, 180);
    /* --bs-navbar-toggler-border-color: white; */
    /* --bs-navbar-active-color: white; */
}

.sgs-flex {
   display: flex;
}

nav {
    background-color: var(--bs-tertiary-bg-rgb);
    
}

button.navbar-toggler:focus,  button.navbar-toggler:active, .navbar-toggler-icon:focus{
    outline: 1px white;
}

.navbar-toggler-custom:focus {
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) #F5E8C7;
}

.navbar-toggler-icon-custom {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.nav-link, .nav-link.active, .navbar-nav .nav-link.active{
    color: white;
}

.card-section {
    flex-direction: column;
}

body, .card {
    background-color: #F5E8C7;
}

.card-custom {
    border: none;
}

.card-img-container {
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    height: 400px;
}

.feature-section, .testimoni-section, #testimoni .card-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#store {
    background-color: white;
}

#testimoni .card {
    background-color: #818FB4;
    color: white;
    /* margin: auto; */
}

#testimoni img {
    width: 70px;
    height: 70px;
}

#carousel-testimoni-landscape {
    display: none;
}

@media only screen and (min-width: 768px) {
    
}